*{
    color:black;
}

img{
    border-radius: 10px;
    height: 70px;
    margin-left: 5px;
}

a:hover{
    transition: all 0.3s ease 0s;
    color:rebeccapurple;
}

.container1{
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    background-color: pink;
}

.title1{
    background-image: linear-gradient(to bottom right, pink,fuchsia, deeppink);
    text-align: center;
    border:4px solid black;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 1260px;
}

.items1{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin: 100px;
}

.container2{
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    background-color: lightblue;
}

.title2{
    text-align: center;
    border:4px solid black;
    background-image: linear-gradient(to bottom right, lightblue,cornflowerblue, blue);
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 1260px;
}

.items2{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin: 100px;
}

.container3{
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    flex-wrap: wrap;
    background-color: lightgoldenrodyellow;
}

.title3{
    text-align: center;
    background-image: linear-gradient(to bottom right, yellow,goldenrod, darkorange);
    border:4px solid black;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 1260px;
}

.items3{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin: 100px;
}